<div class="row">

  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>Heyy, My name is Yashvi Patel. I am currently a full-time student at Seneca College in Computer Programming. I have been in Canada from last 7 months. Ever since I left my home town, life has been extremely challenging and exceptionally motivational. You never know what will happen the next day. But the thing I have realised sooner after landing here is "You are far stronger than you thought you are"</p>
      
      <p>Coming back to myself, I am a very passionate and enthusiastic person who enjoys the present without looking back into the past as well as thinking about the future.</p>

      <p>Some of my Hobbies includes : 
    <ul>
      <li><em><strong>Dancing</strong></em></li>
      <li><em><strong>Wandering and eating</strong></em></li>
      <li><em><strong>Photography</strong></em></li>
      </p>

    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Remaining project under construction. However stay tuned for future updates .....</p>
  </aside>
</div>